@page "/places/delete"
@using Microsoft.EntityFrameworkCore
@using BlazorGoldenZebra.Models
@inject IDbContextFactory<BlazorGoldenZebra.Models.GoldenZebraSecurityContext> DbFactory
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "admin")]
<PageTitle>Удаление</PageTitle>

<h1>Отделение</h1>

<p>Вы уверены что хотите удалить отделение?</p>
<div>
    <hr />
    @if (place is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Название</dt>
            <dd class="col-sm-10">@place.Name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Город</dt>
            <dd class="col-sm-10">@place.City</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Улица</dt>
            <dd class="col-sm-10">@place.Street</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Дом</dt>
            <dd class="col-sm-10">@place.House</dd>
        </dl>
        <EditForm method="post" Model="place" OnValidSubmit="DeletePlace" FormName="delete" Enhance>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a href="/places" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Назад</a>
                <button type="submit" class="btn btn-danger" disabled="@(place is null)"><i class="bi bi-trash"></i> Delete</button>
            </div>
        </EditForm>
    }
</div>

@code {
    private Place? place;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        place = await context.Places.FirstOrDefaultAsync(m => m.Id == Id);

        if (place is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeletePlace()
    {
        using var context = DbFactory.CreateDbContext();
        context.Places.Remove(place!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/places");
    }
}
